<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/png" href="favicon.png" />

    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/nprogress@0.2.0/nprogress.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117946998-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-117946998-1');
    </script>

    <style>
        .c-pointer {
            cursor: pointer;
        }

        .nostyle,
        .nostyle:hover {
            color: inherit;
            text-decoration: none;
        }

        .material-icons.md-18 {
            font-size: 18px;
        }

        .material-icons.md-48 {
            font-size: 48px;
        }

        [v-cloak] {
            display: none;
        }
    </style>
    <title>Do VPN</title>
</head>

<body class="bg-light">
    <nav class="navbar navbar-light bg-light d-flex flex-row-reverse">
        <a class="navbar-text" href="https://github.com/ozonni/do-vpn">View on GitHub</a>
    </nav>
    <main role="main" class="container" v-cloak id="app">
        <div class="py-4 text-center">
            <i class="material-icons md-48">vpn_lock</i>
            <h2>{{ $t("message.doVPN") }}</h2>
            <p class="mt-4" v-if="!authorized" v-html="$t('message.welcome')"></p>
        </div>
        <div>
            <div class="row justify-content-md-center">
                <div class="col-md-8" v-if="!authorized">
                    <a class="btn btn-primary btn-lg btn-block" href="https://cloud.digitalocean.com/v1/oauth/authorize?response_type=token&client_id=a74eb85bd3567014726fbf26a6f713cbf64c28224d5b838b8abbc9706fcec178&redirect_uri=https://ozonni.github.io/do-vpn/&scope=read write"
                        role="button">{{ $t("message.authorize") }}</a>
                </div>
                <div class="col-md-10" v-if="authorized">
                    <p v-html="$t('message.intro')"></p>
                    <div class="alert alert-danger" role="alert" v-if="errorMsg">
                        {{ errorMsg }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" v-on:click="closeErrorMsg">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">IP Address</th>
                                <th scope="col">Username</th>
                                <th scope="col">Password</th>
                                <th scope="col">PSK</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="inst in instances">
                                <td>
                                    <b-btn variant="outline-info" size="sm" v-b-tooltip.hover.top :title="$t('message.takes55Sec')" v-if="inst.status != 'active'"
                                        v-on:click="loadInstList">
                                        {{ $t("message.refresh") }}
                                    </b-btn>
                                    <span v-if="inst.status == 'active'">{{ inst.ip }}</span>
                                </td>
                                <td>{{ inst.username }}</td>
                                <td>{{ inst.password }}</td>
                                <td>{{ inst.psk }}</td>
                                <td class="d-flex justify-content-between">
                                    <a class="nostyle" download="dovpn.mobileconfig" :href="getMobileConfigData(inst)" v-if="inst.status == 'active'">
                                        <i class="material-icons" title="ios/macos setup">phonelink_setup</i>
                                    </a>

                                    <i class="material-icons c-pointer ml-auto" title="Delete" v-on:click="deleteInst(inst)">delete_forever</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="input-group">
                        <select class="custom-select w-25" v-model="selectedRegion">
                            <option disabled value="">{{ $t("message.selectRegion") }}</option>
                            <option v-for="region in regions" v-bind:value="region.slug">{{ region.name }}</option>
                        </select>
                        <div class="input-group-append w-75">
                            <button type="button" class="btn btn-primary btn-block" v-on:click="createInst">{{ $t("message.createVPN") }}</button>
                        </div>
                    </div>

                    <div class="text-center mt-5">
                        <b>{{ $t("message.howTo") }}</b>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a id="ios-link" href="https://github.com/hwdsl2/setup-ipsec-vpn/blob/master/docs/clients.md#ios" target="_blank">iOS (iPhone/iPad)</a>
                                <b-tooltip placement="bottom" target="ios-link">
                                    {{ $t("message.useAutoSetup") }}
                                    <i class="material-icons md-18 align-middle" title="ios/macos setup">phonelink_setup</i>
                                </b-tooltip>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/hwdsl2/setup-ipsec-vpn/blob/master/docs/clients.md#android" target="_blank">Android</a>
                            </li>
                            <li class="list-inline-item">
                                <a id="macos-link" href="https://github.com/hwdsl2/setup-ipsec-vpn/blob/master/docs/clients.md#os-x" target="_blank">OS X (macOS)</a>
                                <b-tooltip placement="bottom" target="macos-link">
                                    {{ $t("message.useAutoSetup") }}
                                    <i class="material-icons md-18 align-middle" title="ios/macos setup">phonelink_setup</i>
                                </b-tooltip>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/hwdsl2/setup-ipsec-vpn/blob/master/docs/clients.md#windows" target="_blank">Windows</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
    <script src="https://unpkg.com/nprogress@latest/nprogress.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script>
        var params = new URLSearchParams(window.location.hash.substr(1))
        var token = params.get('access_token');

        Vue.http.interceptors.push((request, next) => {
            NProgress.start();
            next((response) => {
                NProgress.done();
            });
        });

        if (token) {
            Vue.http.headers.common['Authorization'] = 'Bearer ' + token;
            Vue.http.headers.common['Content-Type'] = 'application/json';
        }

        var generateRandomString = function () {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for (var i = 0; i < 8; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        };

        const messages = {
            'en': {
                message: {
                    doVPN: 'Do your own VPN',
                    authorize: 'Authorize with DigitalOcean',
                    howTo: 'How to configure VPN on your device',
                    createVPN: 'Create VPN',
                    selectRegion: 'Please select region',
                    refresh: 'refresh',
                    takes55Sec: 'It takes ~55s. to create IP address',
                    useAutoSetup: 'Use auto-setup. Look for',
                    intro: `Below is a list of VPN servers you have created. You can delete one or create a new one. By creating a new VPN server a new
                DigitalOcean droplet will be created in your account with 1TB internet traffic available. Each VPN
                server will cost you <a href="https://www.digitalocean.com/pricing" target="_blank">$5/mo</a>.`,
                    welcome: `Using <a href="https://www.digitalocean.com" target="_blank">DigitalOcean</a> you can have your private VPN server just for $5/mo. We do
                <b>NOT</b> charge anything, you only pay to DigitalOcean for droplets and we do
                <b>NOT</b> store any of your data, as well as we do
                <b>NOT</b> analyze your traffic. We just make it simple to set up your own VPN. If you already have DigitalOcean
                account you can proceed by clicking on
                <b>Authorize</b> otherwise follow this referral
                <a href="https://m.do.co/c/0e1ce5621123" target="_blank">link</a> to create a new account (you will get $10 in credit, will be enough for 2 month).`
                }
            },
            'ru': {
                message: {
                    doVPN: 'Cоздай собственный VPN',
                    authorize: 'Зайти через DigitalOcean',
                    howTo: 'Как настроить VPN на устройстве',
                    createVPN: 'Создать VPN',
                    selectRegion: 'Выберите регион',
                    refresh: 'обновить',
                    takes55Sec: 'Занимает ~55сек. чтобы создать IP адрес',
                    useAutoSetup: 'Автонастройка, нажмите на',
                    intro: `Ниже вы можете видеть список созданных VPN серверов. Вы можете удалять их, а также создавать новые. При создании VPN сервера, в вашем аккаунте DigitalOcean создается новый сервер с 1 Tерабайтом доступного трафика. 
                Каждый VPN сервер стоит <a href="https://www.digitalocean.com/pricing" target="_blank">$5 в месяц</a>. VPN аккаунт может быть использован с разных устройств.`,
                    welcome: `Используя <a href="https://www.digitalocean.com" target="_blank">DigitalOcean</a> вы можете создать свой собственный приватный VPN за 5$ в месяц. 
                Вы платите <b>только за сервера</b> DigitalOcean. Мы <b>НЕ</b> анализируем ваш трафик и <b>НЕ</b> храним ваши данные. 
                Мы просто делаем настройку VPN доступной для каждого. Нажмите на кнопку <b>Авторизации</b> если у вас уже есть аккаунт в DigitalOcean. 
                Иначе используйте <a href="https://m.do.co/c/0e1ce5621123" target="_blank">реферальную ссылку</a> что бы создать новый аккаунт (вы получите $10 в подарок, этого хватит на 2 месяца использования).`
                }
            }
        };

        const i18n = new VueI18n({
            locale: navigator.language.substr(0, 2),
            fallbackLocale: 'en',
            messages,
        })

        var app = new Vue({
            i18n,
            el: '#app',
            data: {
                authorized: !!token,
                instances: [],
                regions: [],
                selectedRegion: '',
                errorMsg: null
            },
            methods: {
                getMobileConfigData: function (inst) {
                    var xml = mobileConfig
                        .replace("{psk}", btoa(inst.psk))
                        .replace("{username}", inst.username)
                        .replace("{password}", inst.password)
                        .replace("{ip}", inst.ip);

                    return "data:application/x-apple-aspen-config;base64," + btoa(xml);
                },
                createInst: function () {
                    if (!this.selectedRegion) {
                        return;
                    }

                    var psk = generateRandomString();
                    var username = generateRandomString();
                    var password = generateRandomString();

                    var userData = `#!/bin/bash
modprobe af_key
docker run --name ipsec-vpn-server -e VPN_IPSEC_PSK=${psk} -e VPN_USER=${username} -e VPN_PASSWORD=${password} --restart=always -p 500:500/udp -p 4500:4500/udp -v /lib/modules:/lib/modules:ro -d --privileged hwdsl2/ipsec-vpn-server`;

                    const name = "do-vpn";

                    var newDroplet =
                        {
                            name: name,
                            region: this.selectedRegion,
                            size: "s-1vcpu-1gb",
                            image: "docker-18-04",
                            tags: [name, "psk:" + psk, "username:" + username, "password:" + password],
                            user_data: userData
                        };

                    this.$http.post('https://api.digitalocean.com/v2/droplets', newDroplet).then(response => {
                        if (response.status === 202) {
                            console.log("created");
                            this.loadInstList();
                        }
                    }, response => {
                        console.log(response);
                        this.errorMsg = response.body.message;
                    });
                },
                deleteInst: function (inst) {
                    this.$http.delete('https://api.digitalocean.com/v2/droplets/' + inst.id).then(response => {
                        if (response.status === 204) {
                            this.instances = this.instances.filter(x => x.id !== inst.id);
                        }
                    }, response => {
                        console.log(response);
                        this.errorMsg = response.body.message;
                    });
                },
                loadInstList: function () {
                    this.$http.get('https://api.digitalocean.com/v2/droplets?tag_name=do-vpn').then(response => {
                        if (response.status === 200) {
                            this.instances = response.body.droplets.map(x => {
                                var inst = {
                                    id: x.id,
                                    status: x.status,
                                    username: x.tags.find(x => x.startsWith("username:")).substr(9),
                                    password: x.tags.find(x => x.startsWith("password:")).substr(9),
                                    psk: x.tags.find(x => x.startsWith("psk:")).substr(4),
                                };

                                if (x.networks.v4[0]) {
                                    inst.ip = x.networks.v4[0].ip_address
                                }

                                return inst;
                            });
                        }
                    }, response => {
                        console.log(response);
                        this.errorMsg = response.body.message;
                    });
                },
                loadRegions: function () {
                    this.$http.get('https://api.digitalocean.com/v2/regions').then(response => {
                        if (response.status === 200) {
                            this.regions = response.body.regions
                                .filter(x => x.available)
                                .map(x => {
                                    return {
                                        name: x.name,
                                        slug: x.slug
                                    };
                                })
                                .sort((a, b) => a.name > b.name);
                        }
                    }, response => {
                        console.log(response);
                        this.errorMsg = response.body.message;
                    });
                },
                closeErrorMsg: function () {
                    this.errorMsg = null;
                }
            },
            mounted: function () {
                if (this.authorized) {
                    this.loadInstList();
                    this.loadRegions();
                }
            }
        })

        var mobileConfig = `<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>IPSec</key>
			<dict>
				<key>AuthenticationMethod</key>
				<string>SharedSecret</string>
				<key>LocalIdentifierType</key>
				<string>KeyID</string>
				<key>SharedSecret</key>
				<data>{psk}</data>
			</dict>
			<key>IPv4</key>
			<dict>
				<key>OverridePrimary</key>
				<integer>1</integer>
			</dict>
			<key>PPP</key>
			<dict>
				<key>AuthName</key>
				<string>{username}</string>
				<key>AuthPassword</key>
				<string>{password}</string>
				<key>CommRemoteAddress</key>
				<string>{ip}</string>
			</dict>
			<key>PayloadDescription</key>
			<string>Configures VPN settings</string>
			<key>PayloadDisplayName</key>
			<string>VPN</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.vpn.managed.F905E46A-60F6-4ABD-91D1-061C4EB8F838</string>
			<key>PayloadType</key>
			<string>com.apple.vpn.managed</string>
			<key>PayloadUUID</key>
			<string>F905E46A-60F6-4ABD-91D1-061C4EB8F838</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>Proxies</key>
			<dict>
				<key>HTTPEnable</key>
				<integer>0</integer>
				<key>HTTPSEnable</key>
				<integer>0</integer>
			</dict>
			<key>UserDefinedName</key>
			<string>DO VPN</string>
			<key>VPNType</key>
			<string>L2TP</string>
		</dict>
	</array>
	<key>PayloadDescription</key>
	<string>Profile to quickly configure VPN</string>
	<key>PayloadDisplayName</key>
	<string>DO VPN</string>
	<key>PayloadIdentifier</key>
	<string>5D042124-0DD9-4AD1-803B-F900B3CA85CB</string>
	<key>PayloadRemovalDisallowed</key>
	<false/>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>BB8694E4-8DF2-45F7-BC9B-E497F3F7D6A6</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
</dict>
</plist>
`;
    </script>
</body>

</html>
